.posts{
  padding: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 30%;
}
.error{
  text-align: justify;
  font-size: 15px;
  margin: 5px auto;
  color: tomato;
  font-weight: 600;
}

.button{
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: beige;
  border: 1px solid silver;
}
.input{
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: #ffffff;
}
input:focus{
  outline: none;
  border-color: #c16608;
}