.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h"
  "n m";
  grid-template-rows: 60px 1fr;
  grid-auto-rows: 2fr 10fr;
  grid-template-columns: 2fr 9fr;
  gap: 20px;
  margin: 0 auto;
  width: 1200px;
}

.app-wrapper-content{
    grid-area: m;
}



